@font-face { 
	font-family: BCompset;
   	src: url('font/BCompset.ttf'),
	url('font/BCompset.eot');
 } 
body {
    font-family: 'BCompset';
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
}

.header {
	position:relative;
	background-color:#489EAA;
	width:100%;
    -webkit-box-shadow: 0px 3px 10px -1.5px rgba(64,64,64,1);
    -moz-box-shadow: 0px 3px 10px -1.5px rgba(64,64,64,1);
    box-shadow: 0px 3px 10px -1.5px rgba(64,64,64,1);
}

.header img{
    position: absolute;
    width: 25%;
    margin-left: 1%;
    display: inline-block;
}

.header input{
    padding-left: 1%;
    padding-right: 1%;
    text-align: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 0;
    font-size: 1.15em;
    direction: rtl;
    width: 51%;
    margin-left: 27%;
    margin-top: 0.7%;
    margin-bottom: 0.7%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    background-color: #68BECA;
    border-radius: 2px;
}

.header input:focus{
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white;
}

.header input::-webkit-input-placeholder{
    color: white;
    font-size: 1.1em;
}
.header input:-moz-placeholder{
    color: white;
    font-size: 1.1em;
}

.header input::-moz-placeholder{
    color: white;
    font-size: 1.1em;
}

.header input:-ms-input-placeholde{
    color: white;
        font-size: 1.1em;
}

#rightH{
	position:absolute;
    height: 35%;
    top:calc(11%);
    left:27%;
	width:53%;
    float: right;
    display: inline-block;
    
    -webkit-box-shadow: 0px 0px 10px -1px rgba(64,64,64,1);
-moz-box-shadow: 0px 0px 10px -1px rgba(64,64,64,1);
box-shadow: 0px 0px 10px -1px rgba(64,64,64,1);
}

#rightH   .container {
    margin:auto;
    max-width:100%;
}

#nextSlideBut {
    height:10%;
    width: 10px;
    background-color: aqua;
    position: absolute;
    z-index: 10;
    top: 45$;
}

.slidesjs-pagination li{
    list-style: none;
    display: inline-block;
}

.slidesjs-pagination {
    position: absolute;
    z-index: 10;
    display: inline-block;
    bottom:0;
    right:0;
    padding-right: 20px;
}

.slidesjs-pagination-item .active .slideShowButs{
    background-color: #4096AA;
}

.slideShowButs {
    height: 10px;
    width: 10px;
    margin: 1px;
    border: 2px #4096AA solid;
    border-radius: 100%;
}

.slidesjs-navigation{
    display: none;
}


a{
    color: #404040;
}

a:visited { 
    color: #404050;
}

.rightPanle {
	position:absolute;
    display: block;
	width:17%;
   	top:calc(11%);
	right:0;
    text-align:right;
    padding-right: 20px;
}


.wrap{
	width: 100%;
	max-width: 300px;
}

.collapsible{
	
	list-style: none;
	font-family: "BCompset";
	font-size:1.2em;
	width:100%;
	margin:0;
	padding-left:10px;
}


.collapsible li {
   	margin: 0;
    border-bottom: solid #68BECA 1px;
}

.collapsible li a {
	text-decoration:none;
	display:block;
  	padding:8px 12px;
}

.collapsible li a:hover {
    background: #E9E9E9;
   	text-decoration:none;
}

.collapsible li ul { 
	list-style: none;
   	display: none;
   	margin:0;
	padding:0;
}

.collapsible li ul li {
   	margin:0;
   	border:0;
}

.collapsible li ul li:last-child {
	border-bottom:0;
}
.collapsible li ul li a {
   	padding: 5px 10px;
   	display: block;
   	padding-right: 40px;
 }

/*
.collapsible li ul li a:hover {
   	background: #E9E9E9;
}
*/


.collapsible .dropdown > a{
   	background-image: url("/images/arrowdown.png") ;
     background-size: 10%;
    background-repeat: no-repeat;
    background-position: left center;
}

.collapsible .dropdown > a:hover {
   	background-image: url("/images/arrowleft.png") ;
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: left center;
}

.main {
    position: absolute;
    top:50%;
    left:27%;
    width: 53%;
    background-color: #f2f2f2;
}

@media screen and (max-width: 1000px) {
    .main
    {
        left:3%;
        width: 75%;
    }
}