{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block contents %}
	<link rel="stylesheet" href="{% static 'css/All_landscape.css' %}">

    <div class="Category">
        <div class="space"></div>
        <h3> مطالب آموزشی </h3>
    </div>

 {% for single_edu_content in main_edu_contents %}
    <div class="single">
        <div class="head">
            <img src="/{{single_edu_content.image.image}}"/>
            <div class="Tag Edu"> آموزشی </div>
            <h3>{{single_edu_content.title}}</h3>
        </div>
        <div class="main">
            <pre>{{single_edu_content.summary}}</pre>
        </div>
        <div class="foot">
            <p>{{single_edu_content.pub_date|date:"Y-m-d"|jalali}}</p>
            <p>{{single_edu_content.author}}</p>
            <div class="download">
                <i class="fa fa-caret-down"></i>
                {% if single_edu_content.files %}
                <p>دریافت فایل</p>
                <div class="Files">
                    {% for file in single_edu_content.files.all %}
                    <a href="file.file_field"> {{file.description}} </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="read-more">
                <a href="/edu/{{single_edu_content.id}}">ادامه مطلب</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div id="page-number">
        {% if next_page %}
        <a href="/edu/?&page={{next_page}}"><p>صفحه ی بعدی >> </p></a>
        {% endif %}

        {% if prev_page %}
        <a href="/edu/?&page={{prev_page}}"><p> << صفحه ی قبلی</p></a>
        {% endif %}
    </div>
{% endblock %}
