{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block contents %}
	<link rel="stylesheet" href="{% static 'css/All_landscape.css' %}">

    <div class="Category">
        <div class="space"></div>
        <h3> مطالب روانشناسی </h3>
    </div>
    {% for main_psy_content in psy_contents %}
    <div class="single">
        <div class="head">
            <img src="/{{main_psy_content.image.image}}"/>
            <div class="Tag Psyco"> روانشناسی </div>
            <h3>{{main_psy_content.title}}</h3>
        </div>
        <div class="main">
            <pre>{{main_psy_content.summary}}</pre>
        </div>
        <div class="foot">
            <p>{{main_psy_content.pub_date|date:"Y-m-d"|jalali}}</p>
            <p>{{main_psy_content.author}}</p>
            <div class="read-more">
                <a href="/psychology/{{psy_content.id}}">ادامه مطلب</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div id="page-number">
        <a href="/psychology/?&page={{next_page}}"><p>صفحه ی بعدی >> </p></a>
        <a href="/psychology/?&page={{prev_page}}"><p> << صفحه ی قبلی</p></a>  
    </div>
{% endblock %}
