{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block contents %}
    <link rel="stylesheet" href="{% static 'css/All_landscape.css' %}">
    <div class="Category">
        <div class="space"></div>
        <h3> کارگاه ها </h3>
    </div>
    {% for single_workshop in workshops %}
    <div class="single">
        <div class="head">
            <img src="/{{single_workshop.title_image}}">
            <h3>{{single_workshop.title}}</h3>
        </div>
        <div class="main">
            <pre>{{single_workshop.summary}}</pre>
        </div>
	<div class="foot">
            <p>{{single_workshop.where}}</p>
            <p>{{single_workshop.when|date:"Y-m-d"|jalali}}</p>
            <p>{{single_workshop.audience}}</p>
            <div class="read-more">
                <a href="/workshops/{{single_workshop.id}}">ادامه مطلب</a>
            </div>
        </div>
    </div>
    {% endfor %}

    <div id="page-number">
        <a href="/workshops/?&page={{next_page}}"><p>صفحه ی بعدی >> </p></a>
        <a href="/workshops/?&page={{prev_page}}"><p> << صفحه ی قبلی</p></a>  
    </div>
{% endblock %}
