{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block contents %}
    <link rel="stylesheet" href="css/All_landscape.css">
    <link rel="stylesheet" href="css/all_edu.css">
    <div class="Category">
        <div class="space"></div>
        <h3> مطالب آموزشی </h3>
    </div>

    <div class="edu_lessons">
        <a href="#" class="newmath">گسسته</a>
        <a href="#" class="arabic">عربی</a>
        <a href="#" class="chemic">شیمی</a>
        <a href="#" class="physic">فیزیک</a>
        <a href="#" class="math">دیفرانسیل و انتگرال</a>
        <a href="#" class="literature">ادبیات</a>
        <a href="#" class="math">ریاضی پایه</a>
        <a href="#" class="religious">دینی</a>
        <a href="#" class="geometry">هندسه</a>
        <a href="#" class="lang">زبان</a>
    </div>

    <div id="tabs" >
        <a href="#akhbarItem" style="margin-left:25%"><div class="button1"> جدید ترین </div></a>
        <a href="#kargahItem"><div class="button1">پر بازدید ترین</div></a>
    </div>
    <div class="MainItems">
        <div id="akhbarItem">
            {% for single_edu in most_viewed %}
            <div class="single">
                <div class="head">
                    {% if single_edu.image.image%}
                    <img src="/{{single_edu.image.image}}"/>
                    {%endif%}
                    <div class="Tag Edu"> آموزشی </div>
                    <h3>{{single_edu.title}}</h3>
                </div>
                <div class="main">
                    <pre>{{single_edu.summary}}</pre>
                </div>
                <div class="foot">
                    <p>{{single_edu.pub_date|date:"Y-m-d"|jalali}}</p>
                    <p>{{single_edu.author}}</p>

                    {% if single_edu.files.all %}
                    <div class="download">
                        <i class="fa fa-caret-down"></i>
                        <p>دریافت فایل</p>
                        <div class="Files">
                            {% for file in single_edu.files.all %}
                            <a href="file.file_field"> {{file.description}} </a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="read-more">
                        <a href="/edu/{{single_edu_content.id}}">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="kargahItem">
            {% for single_edu in most_recent %}
            <div class="single">
                <div class="head">
                    {% if single_edu.image.image%}
                    <img src="/{{single_edu.image.image}}"/>
                    {%endif%}
                    <div class="Tag Edu"> آموزشی </div>
                    <h3>{{single_edu.title}}</h3>
                </div>
                <div class="main">
                    <pre>{{single_edu.summary}}</pre>
                </div>
                <div class="foot">
                    <p>{{single_edu.pub_date|date:"Y-m-d"|jalali}}</p>
                    <p>{{single_edu.author}}</p>

                    {% if single_edu.files.all %}
                    <div class="download">
                        <i class="fa fa-caret-down"></i>
                        <p>دریافت فایل</p>
                        <div class="Files">
                            {% for file in single_edu.files.all %}
                            <a href="file.file_field"> {{file.description}} </a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="read-more">
                        <a href="/edu/{{single_edu_content.id}}">ادامه مطلب</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="page-number">
            {% if next_page %}
            <a href="/edu/?&page={{next_page}}"><p>صفحه ی بعدی >> </p></a>
            {% endif %}

            {% if prev_page %}
            <a href="/edu/?&page={{prev_page}}"><p> << صفحه ی قبلی</p></a> 
            {% endif %}
        </div>
    </div>
{% endblock %}