<!DOCTYPE html>
{% load staticfiles %}
{% load filters %}
<head>
    <title>مرکز مشاوره تحصیلی اختراعی</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/rightPanel.css' %}">
    <link rel="stylesheet" href="{% static 'css/all_vertical.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'js/Jquery.js' %}"></script>
    <script src="{% static 'js/rightPanel.js' %}"></script>
    <script src="{% static 'js/mainItem.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="header">
    <div class="topheader">
        <div id="headerLogo">
            <a href="/"><img src="/static/images/logo.png"></a>
        </div>
        <input type="text" placeholder="جست و جو">
    </div>

    <div class="menu">
        <a href="/news/"> اخبار </a>
        <a href="/gallery/"> گالری </a>
        <a href="/advisors/"> مشاورین تحصیلی </a>
        <a href="/edu/"> آموزشی </a>
        <a href="/psychology/"> کنکوری ها بدانند </a>
        <a href="/workshops/"> کارگاه ها </a>
        <a href="/faq/"> ۱۱۸ کنکوری</a>
    </div>

    <div class="sign_in">
    </div>
</div>

<div class="contain">
    {% block contents %} {% endblock %}
</div>


<div class="rightPanle">

    <div class="rightCat">
        <h4> اطلاعیه های مرکز </h4>

        {% for announcement in announcements %}
        <a href="">
            <div class="singleRight">
                {% if announcement.image %}
                <img src="/{{announcement.image}}">
                {% endif %}
                <p> {{announcement.title}}</p>
            </div>
        </a>
        {% endfor %}

    </div>

    <div class="rightCat">
        <h4> اخبار کنکوری </h4>

        {% for single_news in news %}
        <a href="/news/{{single_news.id}}">
            <div class="singleRight">
                {% if single_news.titleImage %}
                <img src="/{{single_news.image}}">
                {% endif %}
                <p> {{single_news.title}} </p>
            </div>
        </a>
        {% endfor %}
    </div>

    <div class="rightCat">
        <h4> ۱۱۸ کنکوری </h4>

        {% for faq in faqs %}
        <a href="/{{faq.id}}">
            <div class="singleRight">
                <p> {{faq.question}} </p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<div id="footer" style="dir:rtl">
    <table>
        <thead>
        <th style="text-align:center"> ما را دنبال کنید</th>
        <th style="text-align:center"> لینک های مرتبط</th>
        <th style="padding-right: 8%"> ارتباط با ما</th>
        </thead>
        <tbody>
        <tr>
            <td>
                <a href="https://telegram.me/moshavere_ekhteraee" style="border-bottom:0"> <img
                        src="/static/images/com.ubuntu.telegram.png" style="clear:both"> </a>
                <a href="https://instagram.com/department_ekhteraee/"> <img
                        src="/static/images/apps.12939.9007199266247104.04442c96-e9b7-4ee8-ac9a-ab3480429e8e.png"> </a>
            </td>
            <td>
                <a href="http://sanjesh.org/"> سازمان سنجش </a>
                <a href="http://www.iau.ac.ir/"> دانشگاه آزاد </a>
                <a href="http://www.msrt.ir/"> وزارت علوم </a>
                <a href="http://www.kanoon.ir/"> کانون </a>
            </td>
            <td>
                <p> : شماره های تماس </p>

                <p> 0513 - 765 80 90 </p>

                <p style="clear:both"> خراسان رضوی-مشهد-فلسطین 10-پلاک 44- مرکز تخصصی مشاوره تحصیلی اختراعی </p>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>