<!DOCTYPE html>
{% load staticfiles %}
<head>
    <title>مرکز مشاوره تحصیلی اختراعی</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/leftPanel.css' %}">
    <link rel="stylesheet" href="{% static 'css/billboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'js/Jquery.js' %}"></script>
    <script src="{% static 'js/rightPanel.js' %}"></script>
    <script src="{% static 'js/mainItem.js' %}"></script>
</head>

<body>
    <div class="header">
<!--        <h3>مرکز مشاوره تحصیلی اختراعی</h3>-->
        <div id="headerLogo">
            <img src="/static/images/logo.png">
        </div>
        <input type="text" placeholder="جست و جو">
<!--
        <div id="showMenu">
            <i class="fa fa-bars x3"></i>
        </div>
-->
    </div>
    
    <div class="leftPanel">
        <img class="mainLogo" src="/static/images/MainLogo.jpg"/>
        <div id="porseshMotedavel">
            <h3>پرسش های متداول</h3>
            <div ID="porseshZigzag"></div>
            {% for ques in FAQ %}
                <a href="/inerView/{{ques.id}}/">
                    <div class="porsesh">
                    <h4> {{ques.question}} </h4>
                    <p> {{ques.answer}} </p>
                    </div>
                </a>
            {% endfor %}
        </div>
        
        <div id="matalebRavanshenasi">
            <h3>مطالب روانشناسی</h3>
            <div ID="ravanshenasiZigzag"></div>
            {% for psy_content in psy_contents %}
                <a href="/psy_contents/{{psy_content.id}}"><p class="ravanshenasi">{{psy_content.title}}</p></a>
            {% endfor %}
        </div>
        
        <div id="mohtavaAmoozeshi">
            <h3>محتوای آموزشی</h3>
            <div ID="amoozeshiZigzag"></div>
            {% for edu_content in edu_contents %}
                <a href="/edu_contents/{{edu_content.id}}"><p class="amoozeshi">{{edu_content.title}}</p></a>
            {% endfor %}
        </div>
    </div>
    
    <div class="contain">
        {% block contents %} {% endblock %}
    </div>
    
    <div class="rightPanle">
        <ul class="collapsible">
            <!--li class="header"><input type="text" name="search" id="search" placeholder="Search"/></li-->
            <li><a class='' href='/news'>اخبار</a></li>
            <li><a href='/workshops'>کارگاه ها</a></li>
            <li class='dropdown'><a href='/FAQ'> پرسش هاي متداول</a>
            <ul>
                <li ><a href='#'>موضوع اول</a></li>
                <li ><a href='#'>موضوع دوم</a></li>
            </ul>
            </li>
            <li><a href='/interviews'>مصاحبه با رتبه هاي برتر</a></li>  
            <li><a href='/psychology'>مطالب روانشناسي</a></li>
            <li><a href='/edu'>محتواي آموزشي</a></li>  
            <li class='dropdown'><a href='#'>درباره ي ما</a>
            <ul>
                <li ><a href='#'>معرفي دفاتر</a></li>
                <li ><a href='#'>معرفي مشاوران تحصيلي</a></li>
                <li ><a href='#'>معرفي مشاوران باليني</a></li>
                <li ><a href='#'>معرفي مشاوران اموزشي</a></li>
            </ul>
            </li>
            <li><a href='#'>افتخار آفرينان</a></li>  
<!--            <script>
                $('.collapsible').children('li').last().css({ borderBottomColor:"#f1f2f2"});
            </script>-->
        </ul>
    </div>
    
    <div id="footer" style="dir:rtl">
         <div id="contactUs">
            <p style="font-size:1.5em; color:#f2f2f2; font-weight: bolder;"> ارتباط با ما </p>
            <p style="clear:both"> : شماره های تماس </p>
            <p> 051 - 765 95 74 </p>
        </div>
             
        <div id="followUs">
            <div class="text"><p> ما را دنبال کنید </p></div>
            <a href="https://telegram.me/moshavere_ekhteraee"> <img src="static/images/com.ubuntu.telegram.png" style="clear:both"> </a>
            <a href="https://instagram.com/department_ekhteraee/"> <img src="static/images/apps.12939.9007199266247104.04442c96-e9b7-4ee8-ac9a-ab3480429e8e.png"></a>
         </div>
     </div>
</body>
