{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}
	<link rel="stylesheet" href="{% static 'css/All_landscape.css' %}">
    <link rel="stylesheet" href="{% static 'css/FAQ.css' %}">
    <div class="Category">
        <div class="space"></div>
        <h3> پرسش های متداول </h3>
    </div>

    {% for faq in FAQ %}
    <div class="single">
        <div class="head">
            <div class="Porsesh Tag"> پرسش متداول </div>
            <h3>{{faq.question}}</h3>
        </div>
        <div class="main">
            <p>{{faq.answer}}</p>
        </div>
    </div>
    {% endfor %}
    <div id="page-number">
        <a href="/faq/?&page={{next-page}}"><p>صفحه ی بعدی >> </p></a>
        <a href="/faq/?&page={{prev-page))"><p> << صفحه ی قبلی</p></a>  
    </div>
{% endblock %}
