{% extends 'base.html' %}
{% load staticfiles %}

{% block contents %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/All_landscape.css' %}">
    <div class="Category">
        <div class="space"></div>
        <h3> گالری عکس </h3>
    </div>
    <div class="galeryImages">
        {% for image in gallery %}
            <img src="/{{image.image}}" alt="{{ image.caption }}" class="deActive">
        {% endfor %}
    </div>    
    <script src="{% static 'js/gallery.js' %} "></script>
    <div class="blur"></div>    
    <div class="imageView">
        <img>
        <div ID="A" class="cancelBut button"><i class="fa fa-times"></i></div>
        <div class="nextBut button"><i class="fa fa-arrow-right"></i></div>
        <div class="prevBut button"><i class="fa fa-arrow-left"></i></div>
        <div class="caption"> <p></p></div>
    </div>

    <div id="page-number">
        {% if next_page %}
        <a href="/edu/?&page={{next_page}}"><p>صفحه ی بعدی >> </p></a>
        {% endif %}
        
        {% if prev_page %}
        <a href="/edu/?&page={{prev_page}}"><p> << صفحه ی قبلی</p></a> 
        {% endif %}
    </div>
{% endblock %}
