{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block contents %}
    <link rel="stylesheet" href="{% static 'css/main1.css' %}">
    <div class="topMain">
        <div id="Slider">
            <div class="container">
                <div id="slides">
                    {% for billboard in billboards %}
                    <div class="slider_content">
                        <img src="/{{ billboard.image }}">
                        <div class="slider_caption">{{billboard.caption|slice:"9:"}}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <script src="{% static 'js/jquery.slides.js' %}"></script>
            <script>
                $(function() {
                    $('#slides').slidesjs({
                        width: 940,
                        height: 528,
                        play: 
                        {
                          active: true,
                          auto: true,
                          interval: 4000,
                          swap: true,
                            effect: "fade"
                        },
                        navigation: {
                            effect: "fade"
                        },
                        pagination: {
                            effect: "fade"
                        },
                        effect: {
                            fade: {
                                speed: 400
                            }
                        }
                    });
                });
          </script>     
        </div>
        <div class="linkBoxes">
            <a href="/workshops"><div class="linkBox workshopBox"><p> کارگاه </p></div></a>
            <a href="/psychology"><div class="linkBox psyBox"><p> روانشناسی </p> </div></a>
            <a href="/edu"><div class="linkBox eduBox"><p> آموزشی </p> </div></a>
        </div>
    </div>
    <div class="main">
            <div class="MainBox">
                <div class="lessons">
                    <div id="scroller">
                        <div class="lessonHead">
                            <h4> کلاس های اموزشی </h4>
                            <div class="items">
                                {% for class in classes %}
                                <a href="#{{class.id}}"><p> {{class.title}} </p></a>
                                {% endfor %}
                            </div>
                        </div>
                        {% for class in classes %}
                        <div class="lessonBody" id="{{class.id}}">
                            <h4 class="backBut"> بازگشت </h4>
                            <div class="items">
                                <pre> {{class.body}} </pre>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <div class="linkBoxesVol2">
                <a href="/workshops/"><div class="linkBox newsBox"><p> اخبار </p></div></a>
                <a href="/psychology/"><div class="linkBox galleryBox"><p> گالری </p> </div></a>
                <a href="/edu/"><div class="linkBox advisorBox"><p> مشاورین تحصیلی </p> </div></a>
                <a href="/workshops/"><div class="linkBox faqBox"><p> پرسش های متداول </p></div></a>
                <a href="/edu/"><div class="linkBox advisorBox"><p> مشاورین بالینی </p> </div></a>
                <a href="/psychology/"><div class="linkBox gradBox"><p> افتخار افرینان </p> </div></a>
            </div>
	    </div>
        <div class="grads">
            <h3> افتخار افرینان </h3>
            <div>
                <div class="prevGrad"></div>
                <div class="gradRow">
                    {% for single_grad in field.grads %}
                        <div class="single">
                            {% if single_grad.image %}
                            <div class="head">
                                <img src="/{{single_grad.image}}"/>
                            </div>
                            {% endif %}
                            <div class="main">
                                <h3> {{single_grad.name}} </h3>
                                <div class="details">
                                    <div>
                                        <p>سال</p>
                                        <p>{{ single_grad.year }}</p>
                                    </div>

                                    <div class="space"></div>

                                    <div>
                                        <p>رشته</p>
                                        <p>{{ single_grad.major }}</p>
                                    </div>
                                </div>
                                <p> {{ single_grad.acc_major }} </p>
<!--                <p>علامه طباطبایی</p>-->
                            </div>
            <!-- <a href="#"> <div class="read-more"> مشاهده </div> </a> -->
                        </div>
                    {% endfor %}
                </div>
                <div class="nextGrad"></div>
            </div>
        </div>
{% endblock %}
