{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block contents %}
    <link rel="stylesheet" href="{% static 'css/main1.css' %}">
    <div id="rightH">
        <div class="container">
            <div id="slides">
                {% for billboard in billboards %}
                <div class="slider_content">
                    <img src="/{{ billboard.image }}">
                    <div class="slider_caption">{{billboard.caption}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="{% static 'js/jquery.slides.js' %}"></script>
        <script>
            $(function() {
                $('#slides').slidesjs({
                    width: 940,
                    height: 528,
                    play: 
                    {
                      active: true,
                      auto: true,
                      interval: 4000,
                      swap: true,
                        effect: "fade"
                    },
                    navigation: {
                        effect: "fade"
                    },
                    pagination: {
                        effect: "fade"
                    },
                    effect: {
                        fade: {
                            speed: 400
                        }
                    }
                });
            });
      </script>     
    </div>
    <div class="main">
        <div id="tabs" >
            <a href="#akhbarItem" style="margin-left:25%"><div class="button1">اخبار</div></a>
            <a href="#kargahItem"><div class="button1">کارگاه ها</div></a>
        </div>
        <div class="MainItems">
            <div id="akhbarItem">
                {% for single_news in news %}
                    <div class="singleNews">
                        <div class="Ntitr">
                            <img src="/{{single_news.title_image}}"/>
                            <h3>{{single_news.title}}</h3>
                        </div>
                        <div class="Nmain">
                            <pre>{{single_news.summary}}</pre>
                        </div>
                        <div class="Nfoot">
                            <p>{{single_news.pub_date|date:"Y-m-d"|jalali}}</p>
                            <p>{{single_news.author}}</p>
                        </div>
                        <div class="blur">
                            <a href="/news/{{single_news.id}}/"><div class="edameBut">ادامه مطلب </div></a>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div id="kargahItem">
                {% for single_workshop in workshops %}
                <div class="singleWorkshop">
                    <div class="Wtitr">
                        <img src="/{{single_workshop.title_image}}"/>
                        <h3>{{single_workshop.title}}</h3>
                    </div>
                    <div class="Wmain">
                        <pre>{{single_workshop.summary}}</pre>
                    </div>
                    <div class="Wfoot">
                        <p>{{single_workshop.where}}</p>
                        <p>{{single_workshop.when|date:"Y-m-d"|jalali}}</p>
                        <p>{{single_workshop.audience}}</p>
                    </div>
                    <div class="blur">
                         <a href="/workshops/{{single_workshop.id}}/"><div class="edameBut">ادامه مطلب </div></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
