{% extends 'base.html' %}
{% load staticfiles %}
{% block contents %}
        <div id="rightH">
            <div class="container">
                <div id="slides">
                    <img src="{% static 'images/example-slide-1.jpg' %}">
                    <img src="{% static 'images/example-slide-2.jpg' %}">
                    <img src="{% static 'images/example-slide-3.jpg' %}">
                    <img src="{% static 'images/example-slide-4.jpg' %}">
                </div>
            </div>
            <script src="{% static 'js/jquery.slides.js' %}"></script>
            <script>
                $(function() {
                    $('#slides').slidesjs({
                        width: 940,
                        height: 528,
                        play: 
                        {
                          active: true,
                          auto: true,
                          interval: 4000,
                          swap: true,
                            effect: "fade"
                        },
                        navigation: {
                            effect: "fade"
                        },
                        pagination: {
                            effect: "fade"
                        },
                        effect: {
                            fade: {
                                speed: 400
                            }
                        }
                    });
                });
            </script>  
		</div>   
    <div class="main">
        <div id="tabs" >
            <a href="#akhbarItem"><div class="button1">اخبار</div></a>
            <a href="#kargahItem"><div class="button1">کارگاه ها</div></a>
        </div>
        <div class="MainItems">
            <div id="akhbarItem">
            {% for single_news in news %}
                <div class="singleNews">
                    <div class="Ntitr">
                        <img src="/static/images/{{single_news.image.url}}"/>
                        <h3>{{single_news.title}}</h3>
                    </div>
                    <div class="Nmain">
                        <p>
                            {{single_news.summary}}
                        </p>
                    </div>
                    <div class="Nfoot">
                        <p>{{single_news.pub_date}}</p>
                        <p>{{single_news.author}}</p>
                    </div>
                    <div class="blur">
                        <a href="/news/{{single_news.id}}"><div class="edameBut">ادامه مطلب </div></a>
                    </div>
                </div>
            {% endfor %}
            </div>
            
            <div id="kargahItem">
            {% for single_workshop in workshops %}
                <div class="singleWorkshop">
                    <div class="Wtitr">
                        <img src="/static/images/{{single_workshop.image.url}}"/>
                        <h3>{{single_workshop.title}}</h3>
                    </div>
                    <div class="Wmain">
                        <p>
                            {{single_workshop.summary}}
                        </p>
                    </div>
                    <div class="Wfoot">
                        <p>{{single_workshop.where}}</p>
                        <p>{{single_workshop.when}}</p>
                        <p>{{single_workshop.audience}}</p>
                    </div>
                    <div class="blur">
                         <a href="/news/{{single_workshop.id}}"><div class="edameBut">ادامه مطلب </div></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}
