{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block contents %}
        <link rel="stylesheet" href="{% static 'css/complete.css' %}">
        <link rel="stylesheet" href="{% static 'css/comments.css' %}">
        <link rel="stylesheet" href="{% static 'css/single_workshop.css' %}">
        <script src="http://maps.googleapis.com/maps/api/js"></script>
        <script src="{% static 'js/workshop.js' %}"></script>
        <div ID="complete">
            <div class="titr">
                    <img src="/{{single_workshop.title_image}}">
                    <h3>{{single_workshop.title}}</h3>
            </div>
            <div class="main">
                    <pre>{{single_workshop.body}}</pre>
                {% for audio in single_workshop.audios %}
                <div class="Audio">
                    <audio controls>
                        <source src="/{{audio.audio}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    <p>{{audio.caption}}</p>
                </div>
                {% endfor %}
                {% for image in single_workshop.images.all %}
                    <div class="Images">
                        <img src="/{{image.image}}">
                        <p> {{ image.caption }} </p>
                    </div>
                {% endfor %}
                
                <div id="googleMap" style="position:relative; width:100%; height:300px; margin-bottom:20px">
                    <script>
                        morezashFunc( {{ single_workshop.location.width }}, {{ single_workshop.location.height }})
                    </script>
                </div>
            </div>
            <div class="foot">
                <p>{{single_workshop.when|date:"Y-m-d"|jalali}}</p>
                <p>{{single_workshop.where}}</p>
                <p>{{single_workshop.audience}}</p>
            </div>
        </div>
{% endblock %}
