{% extends 'base.html' %}
{% load staticfiles %}
{% load filters %}

{% block contents %}
    <link rel="stylesheet" href="{% static 'css/complete.css' %}">
    <div class="main">
        <div id="complete">
             <div class="titr">
                <img src="/{{single_psy.image.image}}">
                <h3>{{single_psy.title}}</h3>
            </div>
            <div class="main">
                <pre>{{single_psy.body}}</pre>
            </div>
            <div class="foot">
                <p>{{single_psy.pub_date|date:"Y-m-d"|jalali}}</p>
                <p>{{single_psy.author}}</p>
            </div>
        </div>
    </div>
{% endblock %}
