{% extends 'base.html' %}
{% load staticfiles %}
{% block contents %}
    <div id="rightH">
        <div class="container">
            <div id="slides">
                <img src="/static/images/example-slide-1.jpg" alt="Photo by: Missy S Link: http://www.flickr.com/photos/listenmissy/5087404401/">
                <img src="/static/images/example-slide-2.jpg" alt="Photo by: Daniel Parks Link: http://www.flickr.com/photos/parksdh/5227623068/">
                <img src="/static/images/example-slide-3.jpg" alt="Photo by: Mike Ranweiler Link: http://www.flickr.com/photos/27874907@N04/4833059991/">
                <img src="/static/images/example-slide-4.jpg" alt="Photo by: Stuart SeegerLink: http://www.flickr.com/photos/stuseeger/97577796/">
            </div>
        </div>
        <script src="{% static 'js/jquery.slides.js' %}"></script>
        <script>
            $(function() {
                $('#slides').slidesjs({
                    width: 940,
                    height: 528,
                    play: 
                    {
                      active: true,
                      auto: true,
                      interval: 4000,
                      swap: true,
                        effect: "fade"
                    },
                    navigation: {
                        effect: "fade"
                    },
                    pagination: {
                        effect: "fade"
                    },
                    effect: {
                        fade: {
                            speed: 400
                        }
                    }
                });
            });
      </script>     
    </div>
    <div class="main">
        <div id="tabs" >
            <a href="#akhbarItem"><div class="button1">اخبار</div></a>
            <a href="#kargahItem"><div class="button1">کارگاه ها</div></a>
        </div>
        <div class="MainItems">
            <div id="akhbarItem">
                <div class="singleNews">
                    <div class="Ntitr">
                        <img src="/static/images/20150401_162807.jpg"/>
                        <h3>عنوانی طولانی تر</h3>
                    </div>
                    <div class="Nmain">
                        <p>
                   سس سسلورم ایسسپسو دبیسلیبر ستون و سطیبلیرآنچنان که لازم استیببلی یبلیب و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                    <div class="Nfoot">
                        <p>75/2/28</p>
                        <p>محمد رضا زارع</p>
                    </div>
                    <div class="blur">
                        <a href="/newsNum"><div class="edameBut">ادامه مطلب </div></a>
                    </div>
                </div>
                <div class="singleNews">
                    <div class="Ntitr">
                        <img src="/static/images/20150401_162807.jpg"/>
                        <h3>عنوان</h3>
                    </div>
                    <div class="Nmain">
                        <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                    <div class="Nfoot">
                        <p>74/12/7</p>
                        <p>علیرضا نصری</p>
                    </div>
                    <div class="blur">
                        <a href="/newsNum"><div class="edameBut">ادامه مطلب </div></a>
                    </div>
                </div>
                <div class="singleNews">
                    <div class="Ntitr">
                        <img src="/static/images/20150401_162807.jpg"/>
                        <h3>عنوان</h3>
                    </div>
                    <div class="Nmain">
                        <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                    <div class="Nfoot">
                        <p>74/12/7</p>
                        <p>علیرضا نصری</p>
                    </div>
                    <div class="blur">
                        <a href="/newsNum"><div class="edameBut">ادامه مطلب </div></a>
                    </div>
                </div>
                <div class="singleNews">
                    <div class="Ntitr">
                        <img src="/static/images/20150401_162807.jpg"/>
                        <h3>عنوان</h3>
                    </div>
                    <div class="Nmain">
                        <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                    <div class="Nfoot">
                        <p>74/12/7</p>
                        <p>علیرضا نصری</p>
                    </div>
                    <div class="blur">
                        <a href="/newsNum"><div class="edameBut">ادامه مطلب </div></a>
                    </div>
                </div>
            </div>

            <div id="kargahItem">
                    <div class="singleWorkshop">
                    <div class="Wtitr">
                        <img src="/static/images/20150401_162807.jpg"/>
                        <h3>عنوان</h3>
                    </div>
                    <div class="Wmain">
                        <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                    <div class="Wfoot">
                        <p>تهران</p>
                        <p>8/8/88</p>
                        <p>والدین</p>
                    </div>
                    <div class="blur">
                         <a href="/workshopNum"><div class="edameBut">ادامه مطلب </div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
