#footer {
    position: relative;
    bottom: 0;
    margin: 0;
    margin-top: 1%;
    width: 100%;
}

#footer table{
    width: 100%;
    background-color: #404040;
}

#footer th{
    color: white;
    font-size: 1.3em;
    text-align: right;
}

#footer td{
    border-right: 1px solid #454545;
    padding: 0;
    text-align: center;
    height: 100%;
    line-height: 300%;
    font-size: 1.1em;
    color: #D0D0D0;
    vertical-align: top;
}

#footer p{
    padding-right: 4%;
    margin: 0;
    float: right;
}
#footer a{
    clear: both;
}

#footer img{
    clear: both;
    margin-top: 5px;
    height: 50px;
}

#footer a{
    color: white;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #777;
}

#footer a:last-child {
    border-bottom: 0;
}

#footer a:hover{
    color:#888;
}

