.rightPanle {
	position:relative;
    display: inline-block;
	width:23%;
	margin-top:1%;
    right: 0;
    vertical-align: top;
    text-align:right;
	margin-bottom: 1%;
    float: right;
    direction: rtl;
    padding-left: 10px;
}

.rightCat a{
    text-decoration: none;
}

.rightCat {
    border: 1px solid #EAEAEA;
    margin-bottom: 10px;
}

.rightCat .singleRight p{
    background-color: white;
    margin: 0;
    vertical-align: middle;
    padding: 5px;
}

.rightCat h4{
    margin: 0;
    padding: 0.6em;
}

.rightCat .singleRight img{
    width: 90px;
    height: 60px;
    float: right;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    vertical-align: middle;
    margin-left: 5px;
}

.rightCat .singleRight{
    overflow: hidden;
    border-bottom: 1px solid #EAEAEA;
    background-color: white;
    padding: 5px;
}

.rightCat a:hover{
    color: #666;
}